@{
    ViewBag.Title = "Index";
}
  

@model IEnumerable<StudentsManagement.DAO.FindStudents_Result>

<script>
    function ondelete(id) {
        bootbox.confirm('Are you sure?', function (result) {
            if (result == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Students")',
                    data: { id: id },
                    success: function () { location.reload();}

                })
            }
        });
    }
</script>

<div class="container my-5">
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>   
    <h1 class="h1 text-light" style="display:inline">Students</h1>
    <button type="button" class="btn btn-primary ml-4">Create</button>
    <div class="table-responsive" style="padding-top:15px">
        <table class="table text-light">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th class="text-right">Modify</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.S_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S_Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S_Address)
                        </td>
                        <td class="text-right">
                            <input type="submit" class="btn btn-primary" value="Edit">
                            <input type="submit" class="btn btn-danger" value="Delete" onclick="ondelete('@item.S_Id')" />
                            <input type="submit" class="btn btn-info" value="Details" />
                        </td>
                    </tr>
                }          
            </tbody>
        </table>
    </div>

</div>

